body {
  background: #111;
  color: white;
  font-family: Arial;
  padding: 20px;
}

.post {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
}
